# Setar padrao para normalizar final de linhas
* text=auto

# Forcar batch scripts(windows) sempre usar CRLF final de linhas
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf

# Forcar batch scripts(linux) sempre usar LF final de linhas
*.sh text eol=lf

/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
